<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navarik Zoo</title>
</head>
<body>
    <p>Zoo is Closed</p>
    <input type="button" onclick="location.href='?action=start';" title="Start the session, create animals with 100% HP =)" value="Start Zoo" />
</body>
</html>