html, body {
    font-family: Nunito, Verdana, sans-serif;
}

.header {
    margin-top: 80px;
}

.header h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #51453C;
}

.time {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #35312F;
    right: 10%;
}

.time span {
    display: block;
    font-size: 32px;
    line-height: 44px;
    color: #7A5532;
}

.animal-group {
    margin: 32px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal-group .description{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    flex-shrink: 0;
    width: 150px;
}

.animal-group.elephant .description {
    color: #C98181;
}

.animal-group.monkey .description {
    color: #51453C;}

.animal-group.giraffe .description {
    color: #917957;}

.animal-group .description span {
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: #35312F;
}

.animal-group ul {
    align-items: center;
    display: flex;
    padding: 0;
}

.animal-group li {
    display: block;
    list-style: none;
    margin:0 32px;
}

.animal-group li:first {
    margin-left:0;
}

.animal-group .hp-amount {    
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    display: block;
    text-align: center;
    color: #35312F;
}

.hp-bar, .hp-foreground{
    display: block;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: #CECECE;
}

.btn-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-container input {
    width: 180px;
    height: 64px;
    border-radius: 40px;
    display: inline-block;
    border-color: transparent;
    font-weight: 900;
    font-size: 18px;
    margin: 0 8px;
}

.btn-feed {
    background: #F2A2A2;
    color: #51453C;
}

.btn-pass {
    color: #EFD3D3;
    background: #51453C;
}

.btn-close-zoo {
    right: 10%;
    color: #51453C;
    background: #EFEFEF;
}